extends _layout/layout

block variables
	- var title = 'MEYER Products'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
	- var href = "/index.html"
block body
	section.technicial
		.container.pt-5
			.border-bottom.mb-4.pb-2
				.row
					.col-12
						h2.d-flex.align-items-center About technicials what i did  
			.row 
				.col-12 
					p
						i Hello everyone, 
					p I created this source code to show you my technical skills and to show my work. I build everything new in this source code.
					p Actually, I can use Angular or another Framework to do this source but I did not use it. I decided to build our own Framework (lightweight) using: 
					ul.list-item
						li.list-item a little bit of 
							code jQuery 
						li.list-item
							code NativeScript
						li.list-item 
							code SASS 
							| to compile 
							code CSS
						li.list-item 
							code PUG Template 
							| to compile 
							code HTML
						li.list-item 
							code GULPJS 
							| to build the source code
					figure
						img(src="./img/1.png", alt="", srcset="")
						figcaption
							i I used Native Script to build this framework
					figure
						img(src="./img/2.png", alt="", srcset="")
						figcaption
							i I used SASS to build this framework
					figure
						img(src="./img/3.png", alt="", srcset="")
						figcaption
							i I used PUG to build this framework

					p I decided to go the hard way because I want to show you my work and I want to show you my skills. 

					i I finished this source code in less than 10 hours and I have 3 hours to create the source code structure wrote documents, test, deploy, etc...
					hr
					h3.mt-4 SOURCE CODE
					p I uploaded the source code to my GitHub account. You can see it here: 
						a(href="https://github.com/baonguyenyam/meyer" target="_blank") https://github.com/baonguyenyam/meyer
					hr
					h3.mt-4 LIVE SITE
					p I deployed the source code to my server. You can see it here:  
						a(href="https://test.wow-wp.com" target="_blank") https://test.wow-wp.com
					hr
					p Anyway, I hope you enjoy this source code. And thank you to visit my site.
					p.mt-4.mb-4
						i Have a great day!